# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\sdu_green_code\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
